.container {
    width: 22%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}
.title {
    font-size: 18px;
    font-weight: bold;
    color: orangered;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: rgb(91, 89, 89);
}
.desc {
    text-align: center;
    color: #777;
}